@using AccountApp.Models
@model CreditCardOverview
@{
    ViewBag.Title = "Detail";
}

<h2>Credit Card Detail</h2>
<hr />


<div class="panel panel-default">
    <div class="panel-heading">Detail</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                
                @Html.Partial("_CreditCardOverviewPartial", Model.CreditCard)

                <div class="margin-top-10">

                    @Html.ActionLink("Do Payment", "DoPayment", new { id = Model.CreditCard.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Discharge", "Discharge", new { id = Model.CreditCard.Id}, new { @class = "btn btn-success" })

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">
                            In Term Transactions
                        </a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            Extres
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered margin-top-10">
                                    <thead>
                                        <tr>
                                            <th>Detail</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var paymentInfo in Model.CreditCardPaymentList)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@paymentInfo.Description</td>
                                                <td>@paymentInfo.Amount @Model.CreditCard.CreditCardOwner.AssetsUnit</td>
                                                <td>@paymentInfo.InstalmentDate.ToString("dd.MM.yyyy hh:MM:ss")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    
                    <div class="tab-pane" id="tab_default_2">
                        <div class="panel-group margin-top-10" id="accordion_extre" role="tablist" aria-multiselectable="true">

                            @foreach (var creditCardExtre in Model.CreditCardExtreList)
                            {
                                var index = Model.CreditCardExtreList.IndexOf(creditCardExtre);
                                var collapseClass = index == 0 ? "in" : "";

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading_extre_@creditCardExtre.Id">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_extre" 
                                               href="#collapse_extre_@creditCardExtre.Id" aria-expanded="true" aria-controls="collapse_extre_@creditCardExtre.Id">
                                               <i class="glyphicon glyphicon-calendar"></i> @creditCardExtre.MonthName @creditCardExtre.Year
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_extre_@creditCardExtre.Id" class="panel-collapse collapse @collapseClass" role="tabpanel" 
                                         aria-labelledby="heading_extre_@creditCardExtre.Id">
                                        
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. 
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>