@model AccountApp.Models.AccountOverview

    <div class="media">
        <div class="media-left media-heading">
            @if (Model.Account.AccountOwner.OwnerType == AydoganFBank.AccountManagement.Api.AccountOwnerType.Person)
            {
                @:<i class="glyphicon glyphicon-user gi-2x"></i>
            }
            else
            {
                @:<i class="glyphicon glyphicon-briefcase gi-2x"></i>
            }
            
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Model.Account.AccountNumber</h4>
            <span class="label label-default">
                @Model.Account.AccountOwner.DisplayName
            </span>
            <div class="row margin-top-10">
                <div class="col-md-6">
                    <div class="col-md-6"><label class="bold">Balance</label></div>
                    <div class="col-md-6">@Model.AccountBalanceWithAssetsUnit</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6 bold"><label class="bold">Overview</label></div>
                    <div class="col-md-6">@Model.TotalAssetWithAssetsUnit</div>
                </div>
                <hr />
                <div class="col-md-12">

                    @Html.ActionLink("Transfer Assets", "TransferAssets", "Account", new { accountNumber = Model.Account.AccountNumber }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("Deposit", "Deposit", "Account", new { accountNumber = Model.Account.AccountNumber }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("Withdraw", "Withdraw", "Account", new { accountNumber = Model.Account.AccountNumber }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Account Details", "Detail", "Account", new { accountNumber = Model.Account.AccountNumber }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Close Account", "Close", "Account", new { accountNumber = Model.Account.AccountNumber }, new { @class = "btn btn-danger btn-xs" })

                </div>
            </div>
        </div>
    </div>