@using AccountApp.Utility
@model AccountApp.Models.AccountOverview

    <div class="media">
        <div class="media-left media-heading">
            @if (Model.Account.AccountOwner.OwnerType == AydoganFBank.AccountManagement.Api.AccountOwnerType.Person)
            {
                @:<i class="glyphicon glyphicon-user gi-2x"></i>
            }
            else
            {
                @:<i class="glyphicon glyphicon-briefcase gi-2x"></i>
            }
            
        </div>
        <div class="media-body">
            <h4 class="media-heading">@Model.Account.AccountNumber</h4>
            <span class="label label-default">
                @Model.Account.AccountOwner.DisplayName
            </span>
            <div class="row margin-top-10">
                <div class="col-md-6">
                    <div class="col-md-6"><label class="bold">Balance</label></div>
                    <div class="col-md-6">@Model.AccountBalanceWithAssetsUnit</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6 bold"><label class="bold">Overview</label></div>
                    <div class="col-md-6">@Model.TotalAssetWithAssetsUnit</div>
                </div>
                <hr />
                <div class="col-md-12">

                    @Html.BuildLink("Account", Model.Account.Id, "TransferAssets", "Transfer Assets", Application.ButtonType.Info, Application.ButtonSize.XSmall)
                    @Html.BuildLink("Account", Model.Account.Id, "Deposit", "Deposit", Application.ButtonType.Primary, Application.ButtonSize.XSmall)
                    @Html.BuildLink("Account", Model.Account.Id, "Withdraw", "Withdraw", Application.ButtonType.Warning, Application.ButtonSize.XSmall)
                    @Html.BuildLink("Account", Model.Account.Id, "Detail", "Account Details", Application.ButtonType.Default, Application.ButtonSize.XSmall)
                    @Html.BuildLink("Account", Model.Account.Id, "CloseAccount", "Close Account", Application.ButtonType.Danger, Application.ButtonSize.XSmall)

                </div>
            </div>
        </div>
    </div>